logs
.idea
**.idea
**.settings
.project
**.classpath
**target
**.iml
*/target
**.project
**.ipr
**.iws
**.svn
**/target
**/test-output
**.DS_Store
*.externalToolBuilders/
eclipse.bat
*/.springBeans
reactor.bat
website/cas/overlays/
resolvedPom.xml
**.bak
**/target/**
**/bin/**
**/META-INF/**

**/**/*.iml

LOG_HOME_IS_UNDEFINED/**

/**/LOG_HOME_IS_UNDEFINED/**
**LOG_HOME_IS_UNDEFINED**